DB_HOST=localhost
DB_PORT=5432
DB_NAME=animal_help
DB_USER=postgres
DB_PASSWORD=replace_with_your_password
DADATA_API_KEY=replace_with_your_dadata_api_key
CLOUDINARY_CLOUD_NAME=replace_with_your_cloudinary_cloud_name
CLOUDINARY_API_KEY=replace_with_your_cloudinary_api_key
CLOUDINARY_API_SECRET=replace_with_your_cloudinary_api_secret
